name: Style

on: [push, pull_request]

jobs:
  tabs:
    name: Check for tabs
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Check tabs
        run: bash .github/workflows/style/check_tabs.sh

  trailing_whitespaces:
    name: Check trailing whitespaces
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Check trailing whitespaces
        run: bash .github/workflows/style/check_trailing_whitespaces.sh

  newline_eof:
    name: Check newline at EOF
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Check newline at EOF
        run: bash .github/workflows/style/check_newline_eof.sh

  line_length:
    name: Check line length
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Check line length
        run: bash .github/workflows/style/check_line_length.sh

  multiple_blank_lines:
    name: Check multiple blank lines
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Check multiple blank lines
        run: bash .github/workflows/style/check_multiple_blank_lines.sh

  include_guards:
    name: Check include guards
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Check include guards
        run: bash .github/workflows/style/check_include_guards.sh

  clang_tidy:
    name: Static analysis (clang-tidy)
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install base dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y --no-install-recommends clang-tidy build-essential
      - name: Install CUDA Toolkit
        uses: Jimver/cuda-toolkit@v0.2.21
        with:
          cuda: '12.6.2'
          method: 'network'
          sub-packages: '["nvcc", "cudart"]'
      - name: Install MPI
        run: |
          sudo apt-get install -y --no-install-recommends libmpich-dev mpich
      - name: Run clang-tidy
        run: bash .github/workflows/style/check_clang_tidy.sh
        env:
          CUDA_PATH: /usr/local/cuda
