name: Style

on: [push, pull_request]

jobs:
  tabs:
    name: Check for tabs
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Check tabs
        run: bash .github/workflows/style/check_tabs.sh

  trailing_whitespaces:
    name: Check trailing whitespaces
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Check trailing whitespaces
        run: bash .github/workflows/style/check_trailing_whitespaces.sh

  newline_eof:
    name: Check newline at EOF
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Check newline at EOF
        run: bash .github/workflows/style/check_newline_eof.sh

  line_length:
    name: Check line length
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Check line length
        run: bash .github/workflows/style/check_line_length.sh

  multiple_blank_lines:
    name: Check multiple blank lines
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Check multiple blank lines
        run: bash .github/workflows/style/check_multiple_blank_lines.sh

  include_guards:
    name: Check include guards
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Check include guards
        run: bash .github/workflows/style/check_include_guards.sh
